<ion-header>
  <ion-navbar color="primary-dark">
    <ion-title>{{ ( teamProfile | async )?.teamName }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h4>Hey {{ (userProfile | async )?.fullName }},</h4>
  <p>
    You're the admin of
    <strong>{{ (teamProfile | async )?.teamName }}</strong> and below you can see your
    team members or add new members.
  </p>
  <button ion-button block color="primary-dark" (click)="inviteTeamMember()">
    Invite a new member
  </button>

  <ion-list *ngIf="teamMemberList">
    <ion-list-header>
      Team Members
    </ion-list-header>
    <ion-item *ngFor="let member of teamMemberList | async" (click)="goToMemberProfilePage(member.id)">
      {{ member.fullName }}
    </ion-item>
  </ion-list>
</ion-content>